<div ng-hide='enable' class='loading'>
    <i class='icon-spin icon-spinner'></i>
    Event information is loading...
</div>

<div ng-show='enable'>
    <h2 ng-show="editing">Editing event #{{e.id}}
        <button class='btn' ng-disabled='loading'><i ng-class="{'icon-spin':loading}" class='icon-refresh' style='color:blue' ng-click='refresh()'></i></button>
    </h2>
    <h2 ng-hide="editing">Creating event</h2>
    <div ng-show='editing' class="alert alert-success" >
        Registration form: <a href="/events/{{e.id}}/register" target="_blank">Open in a new tab</a>
    </div>

    <ul class="nav nav-tabs" ng-show="editing">
        <li ng-class="{active: tab == 'info'}"><a ng-click="tab='info'"><i class="icon-magic"></i> Information</a></li>
        <li ng-class="{active: tab == 'part'}"><a ng-click="tab='part'"><i class="icon-group"></i> Participants ({{ e.registrations.length}})</a></li>
        <li ng-class="{active: tab == 'fields'}"><a ng-click="tab='fields'"><i class="icon-tasks"></i> Custom fields</a></li>
        <li ng-class="{active: tab == 'form'}"><a ng-click="tab='form'"><i class="icon-tasks"></i> Form fields</a></li>
        <li ng-class="{active: tab == 'invites'}"><a ng-click="tab='invites'"><i class="icon-envelope"></i> Invites</a></li>
    </ul>
</div>

<form name="myForm" class="form-horizontal" ng-show='enable' >
 <div ng-show="tab == 'info' || !editing">
    <div class="control-group" ng-class="{error: myForm.title.$invalid}">
        <label class="control-label">Title</label>
        <div class="controls"><input type="text" name="title" ng-model="e.title" required class='input-xxlarge'>
        <span ng-show="myForm.title.$error.required" class="help-inline">
            Required</span>
        </div>
    </div>
    <div class="control-group" ng-class="{error: myForm.desc.$invalid}">
        <label class="control-label">Description</label>
        <div class="controls">
            <textarea rows='10' class='input-xxlarge' name="desc" ng-model="e.desc" required></textarea>
        <span ng-show="myForm.desc.$error.required" class="help-inline">
            Required</span>
        </div>
    </div>

    <div class="control-group" ng-class="{error: myForm.url.$invalid}">
        <label class="control-label">Url</label>
        <div class="controls">
            <input type="url" name="desc" ng-model="e.url" required class='input-xxlarge'>
            <a ng-show='e.url' href="{{e.url}}" target="_blank"><i class="icon-share"></i>Open</a>
        <span ng-show="myForm.url.$error.required" class="help-inline">
            Required</span>
        </div>
    </div>

    <div class="control-group" ng-class="{error: myForm.date.$invalid}">
        <label class="control-label">Date</label>
        <div class="controls">
            <input type="text" name="date" ng-model="e.date" required bs-datepicker data-date-format="yyyy-mm-dd" >
            <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
        <span ng-show="myForm.date.$error.required" class="help-inline">
            Required</span>
        </div>
    </div>

    <div class="control-group " ng-class="{error: myForm.closereg.$invalid}">
        <label class="control-label">Registration close</label>
        <div class="controls">
            <input type="text" name="closereg" ng-model="e.closereg" bs-datepicker data-date-format="yyyy-mm-dd">
            <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
        </div>
    </div>

    <div class="control-group " ng-class="{error: myForm.closereg.$invalid}">
         <label class="control-label">Registrations limit</label>
         <div class="controls">
             <input type="checkbox" ng-checked='max_regs_active' ng-click='switchMaxRegs()'>
             <input name="max_regs" ng-model="e.max_regs" ng-disabled='e.max_regs==null'>
         </div>
    </div>
    <div class="control-group ">
         <label class="control-label">Testing event</label>
         <div class="controls">
             <input type="checkbox" ng-model="e.testing"> Event will be
                <span class="text-error" ng-show="e.testing">hidden from</span>
                <span class="text-success" ng-hide="e.testing">shown on</span>
                the list of events.
         </div>
    </div>
    <div class="control-group ">
         <label class="control-label">Require confirmation</label>
         <div class="controls">
             <input type="checkbox" ng-model="e.require_confirmation">

         </div>
    </div>

    <div class="control-group " ng-class="{error: myForm.place.$invalid}">
         <label class="control-label">Host</label>
         <div class="controls">
             <select ng-model="e.host_gdg_id" ng-options="place.id as place.name for place in places"></select>
             <img ng-src="{{logoForPlace(e.host_gdg_id)}}" style="height: 24px">
         </div>
    </div>

</div>

    <script type="text/ng-template" id="confirmSend.html">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4>Re-sending email to {{p.participant.name}} {{p.participant.surname}}</h4>
        </div>
        <div class="modal-body">
            Are you sure you want to send invitation email to <b>{{p.participant.email}}</b>?
            <div ng-show='p.accepted' class='alert alert-warn'>The application is already accepted! Email probably was already sent.</div>
            <div ng-show='!p.accepted' class='alert alert-error'>The application is not accepted! Don't give false promises</div>

        </div>
        <div class="modal-footer">
            <button class="btn cancel" ng-click="dismiss()" ng-disabled='sending'>Cancel</button>
            <button class="btn btn-primary" ng-click="resend(p.participant.id)" ng-disabled='sending'>
                <i class="icon-spinner icon-spin" ng-show='sending'></i> Resend<span ng-show='sending'>ing...</span></button>
        </div>

    </script>

    <script type="text/ng-template" id="confirmDeleteApp.html">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4>Deleting application of {{p.participant.name}} {{p.participant.surname}}</h4>
        </div>
        <div class="modal-body">
            Are you sure you want to delete application of <b>{{p.participant.name}} ({{p.participant.email}})</b>?
            <div ng-show='p.accepted' class='alert alert-error'>The application is already accepted!</div>

        </div>
        <div class="modal-footer">
            <button class="btn cancel" ng-click="dismiss()" ng-disabled='sending'>Cancel</button>
            <button class="btn btn-primary" ng-click="deleteApp(p.id)" ng-disabled='sending'>
                <i class="icon-spinner icon-spin" ng-show='deleting'></i> Delete<span ng-show='deleting'>ing...</span></button>
        </div>

    </script>



<div class='' ng-show="editing && tab=='part'">
    <input type="text" ng-model="search" class="search-query" placeholder="Search">
    <div class="btn-group" bs-buttons-radio ng-model="eFilter">
        <button type="button" class="btn" value="all"><i class="icon-asterisk"></i> All</button>
        <button type="button" class="btn" value="approved" ng-disabled="accepted==0"><i class="icon-check"></i> Approved ({{accepted}})</button>
        <button type="button" class="btn" value="waiting" ng-disabled="e.registrations.length - accepted == 0"><i class="icon-check-empty"></i> Waiting for approval ({{e.registrations.length - accepted}})</button>
    </div>
    <div class="btn-group" >
        <button type="button" class="btn" ng-click="openReportParticipants()" ng-disabled='reporting'>
            <img src="https://developers.google.com/drive/images/drive_icon.png" style="height:20px" ng-hide="reporting">
            <i ng-show='reporting' class="icon-spinner icon-spin"></i>
            Send<span ng-show='reporting'>ing</span> to Google Drive&trade;
        </button>
    </div>
    <table class='table'>
        <thead>
        <tr>
            <th>
                <input ng-disabled="keys(accepted)==e.participants.length ||approving" type="checkbox" ng-show="eFilter!='approved'" ng-model='allSelected' ng-click='selectAll()'> Approved</th>
            <th>Surname</th>
            <th>Name</th>
            <th>e-mail</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in e.registrations | filter:filterEvent | filter:search | orderBy:'participant.surname'" class="clickable">
            <td>
                <input type="checkbox" ng-model='toAccept[p.id]' ng-hide='p.accepted' ng-disabled="approving">
                <i class="icon-ok" ng-show='p.accepted'></i>
                <i class="icon-question-sign" style='color:blue' bs-tooltip="'Not confirmed'" ng-show='e.require_confirmation && !p.confirmed'></i>
                <i class="icon-ok-sign" style='color:green' bs-tooltip="'Confirmed'" ng-show='e.require_confirmation && p.confirmed'></i>
            </td>
            <td>{{p.participant.surname}}</td>
            <td>{{p.participant.name}}</td>
            <td>{{p.participant.email}}</td>
            <td>
                <button class='btn btn-danger' ng-controller='notificationDeleteAppCtrl' bs-tooltip="'Delete application'" bs-modal="'confirmDeleteApp.html'"><i class="icon-trash"></i></button>
                <button class='btn' ng-click='show(p.googler_id)' bs-tooltip="'Show participants\'s details'"><i class='icon-user'></i></button>
                <button class='btn'  ng-click='showCard(p.id)' bs-tooltip="'Application info'"><i class="icon-credit-card"></i></button>
                <button class='btn' ng-controller='notificationResendCtrl' bs-tooltip="'Send confirmation email'" bs-modal="'confirmSend.html'"><i class="icon-envelope"></i></button>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="alert alert-error" ng-show="sendingFailed">
        <button type="button" class="close" data-dismiss="alert" ng-click="sendingFailed = false">&times;</button>
        Something happen while approving, so some application could be not approved or notifications not sent.
    </div>
    <div ng-show='toAcceptArray.length >0' class="control-group">
      <label class="control-label">

      </label>
      <div class="controls">
        <button class='btn btn-primary' ng-click='approve()' ng-disabled="approving">
            Approve {{toAcceptArray.length}} application<span ng-show='toAcceptArray.length>1'>s</span>
            <i class="icon-spinner icon-spin" ng-show="approving"></i>
        </button>
        <button class='btn btn-info' ng-click='sendConfirm()' ng-disabled="approving">
              Send confirmation request to {{toAcceptArray.length}} application<span ng-show='toAcceptArray.length>1'>s</span>
              <i class="icon-spinner icon-spin" ng-show="sending"></i>
        </button>
        <div>
            <input type="checkbox" ng-model='sendEmail' ng-init="sendEmail= true"  ng-disabled="approving"> Send email
            from <span class="clickable" ng-show="!fromEmailEditing" ng-click="fromEmailEditing=true">{{fromEmail}}</span>
            <input ng-show="fromEmailEditing" ng-model="fromEmail">
        </div>

      </div>

    </div>
</div>
<div class='' ng-show="editing && tab=='fields'">
    <table class='table'>
        <thead>
        <tr>
            <th>Short name</th>
            <th>Title</th>
            <th>Type</th>
            <th>Require</th>
            <th><button class='btn btn-success' ng-click='addField()'><i class='icon-plus-sign'></i> Add</button></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="field in e.fields track by $index" class="clickable">
            <td><input ng-model='field.name' required class='input-large'/></td>
            <td><input ng-model='field.title' required class='input-xlarge'/></td>
            <td>
                <select ng-model='field.type' required ng-options="t.type as t.name for t in types"></select>
                <div ng-show="field.type=='select'">
                    <input type="checkbox" ng-model="field.multiple"> Allow multiple selection
                    <div ng-repeat='option in field.options track by $index'>
                        {{ $index+1 }}. <input type="text" ng-model='field.options[$index]' required>
                        <button ng-click="removeOption(field, $index)" class="btn btn-small"><i class="icon-minus"></i></button>
                    </div>
                    <button class="btn btn-small" ng-click="addOption(field)"><i class='icon-plus-sign'></i> Add option</button>
                    <input type="checkbox" ng-model="field.allow_custom"> Allow custom answer
                </div>
            </td>
            <td><input ng-show="field.type!='checkbox'" type="checkbox" ng-model='field.required'/> </td>
            <td>
                <i class="icon-trash" ng-click='deleteField(field)'></i>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class='' ng-show="editing && tab=='form'">
    <div class="alert"><i class="icon-wrench"></i> Under construction <i class="icon-wrench"></i>

    </div>
     <table class='table'>
         <thead>
         <tr>
             <th>Field</th>
             <th>Enabled</th>
         </tr>
         </thead>
         <tbody>
         <tr ng-repeat="field in formFields track by field.name" class="clickable">
             <td>{{ field.title }}</td>
             <td><input type="checkbox" ng-checked='!isHidden(field)' ng-click="toggleHiddenField(e,field)" /></td>
         </tr>
         </tbody>
     </table>
 </div>

 <div ng-show="editing && tab=='invites'" ng-include="'/templates/admin/events/invites.html'"></div>


    <script type="text/ng-template" id="eventDelete.html">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4>Deleting event "{{e.title}}"</h4>
        </div>
        <div class="modal-body">
            If you delete this event, <ul><li>all registrations would be also <b>deleted</b></li><li><b>no</b> visiting history would he recorded</li></ul>
            <div>
                If you're really sure, enter "<kbd>sure</kbd>":<input ng-model="checkTxt">
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn cancel" ng-click="dismiss()">Cancel</button>
            <button class="btn btn-danger" ng-disabled="checkTxt!='sure'" ng-click="destroy();dismiss()">Delete</button>
        </div>

    </script>
    <div class='alert alert-error' ng-show='myForm.$invalid'>There are some errors above</div>
    <div class="control-group">
        <div class="controls">
            <a href="#/" class="btn"><i class="icon-reply"></i> Cancel</a>
            <button ng-click="save()" ng-disabled="isClean() || myForm.$invalid || loading"
                    class="btn btn-primary"><i class="icon-ok"></i> Save</button>
            <button bs-modal="'eventDelete.html'"
                    ng-show="e.id" class="btn btn-danger"><i class="icon-remove"></i> Delete</button>
        </div>
    </div>

</form>
