APP_ROOT=/work
APP_PACKAGE=GDGUkraine
BASE_URL=http://localhost:8080
OAUTHLIB_INSECURE_TRANSPORT=1
DATABASE_URL=mysql+mysqlconnector://mysql:mysql@localhost:3307/gdg
BLUEBERRYPY_CONFIG={ "global": { "CWD": "/work", "base_app_url": "http://localhost:8080", "key":"{{ SUPER_DUPER_KEY }}", "google_oauth": { "id": "{{ SUPER_DUPER_GOOGLE_ID }}.apps.googleusercontent.com", "secret": "{{ SUPER_DUPER_GOOGLE_SECRET }}" }, "alembic": {"sqlalchemy.url": "mysql+mysqlconnector://mysql:mysql@localhost:3307/gdg"} }, "sqlalchemy_engine": { "url": "mysql+mysqlconnector://mysql:mysql@localhost:3307/gdg" }, "jinja2": { "bytecode_cache": { "!!python/object:jinja2.bccache.FileSystemBytecodeCache": {"directory": "/work/.cache", "pattern": "__jinja2_%s.cache" } }, "loader": {"!!python/object:jinja2.loaders.FileSystemLoader": {"encoding": "utf-8", "searchpath": ["/work/src/GDGUkraine/templates"] } } } }
