*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64
# we mustn't ignore project lib
!src/GDGUkraine/lib

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# added by webknjaz
/.cache/v/cache
/.cache/*.cache
__pycache__
*.pyc
/.eggs
/env/
/.env/
/log/*.log
/log/*.log.*
*.py.bak
.hidden
/static/libs/bower_components
/.exports*
/.sessions/
/coverage.xml
bower_components
/src/blueberrypy

# vagga files
.vagga/

# environ configuration
/.env

# database creation lock
.dbcreation

# Deployment key full path
/.travis/deploy_key
