<!DOCTYPE html>
<html>
<head>
    <title>GDG Events | {{ event.title }}: Confirmation</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <base href="https://gdg.org.ua" />
</head>
<body>
    <div class="container">
        <div class="content">
            <h1>Confirmation of your visit to {{ event.title }}</h1>

            <div class="main-text">
                <div>Please confirm that you will actually visit {{ event.title }}</div>

                <div>{{ event.desc }}</div>

                <div>If you are really going to visit this event please follow this link: <a href="{{ confirm.url | e }}">{{ confirm.url }}</a>.
                    You can ignore this email if you're not going to attend.
                </div>
            </div>

            <a href="/" target="_blank"><img class="gdg-image" src="/img/gdg_org_ua.png" alt="gdg.org.ua"></a>
        </div>
    </div>
</body>
</html>
