<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <base href="{{ url_for_class('controller.Root') }}"></base>
    <title>GDG | Upcoming Events</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="author" content="Oleh Zasadnyy">
    <meta name="author" content="Olexandr Kovalchuk">
    <meta name="author" content="Svyatoslav Sydorenko">
    <meta name="author" content="Valentyn Shybanov">

    <!-- Start opengraph meta -->
    <!-- Override author, cause opengraph picks last author meta -->
    <meta name="author" content="GDG Ukraine">
    <!-- Actually opengraph meta -->
    <meta property="og:title" content="GDG | Upcoming Events">
    <meta property="og:description" content="Events set up by GDG Ukraine">
    <meta property="og:site_name" content="GDG Ukraine Events">
    <meta property="og:image" content="{{ url_for_static('img/pattern.png') }}">

    <!-- Twitter meta tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@KyivGTUG"><!-- TODO: group specific twitter -->
    <meta name="twitter:title" content="GDG | Upcoming Events">
    <meta name="twitter:description" content="Events set up by GDG Ukraine">
    <meta name="twitter:image" content="{{ url_for_static('img/pattern.png') }}">
    <!-- End opengraph meta-->

    <link href="{{ url_for_static('favicon.ico') }}" rel="icon" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="{{ url_for_static('css/style-eventlist.css') }}" rel="stylesheet">
</head>

<body>

    <div class="e-container">
        {% for event in events %}
        <div id="contact-form" class="e-card">
            <div class="e-card-content">
                {% if event.host_gdg_id and event.host_gdg %}
                <a href="{{ event.host_gdg.url }}">
                    <img class="e-card-logo"
                         src="{{ event.host_gdg.logo }}"
                         alt="{{ event.host_gdg.name | e }}"
                         title="{{ event.host_gdg.name | e }}">
                </a>
                {% else %}
                <img id="e-card-logo"
                     src="{{ url_for_static('img/logo.png') }}"
                     alt="GDG Ukraine"
                     title="GDG Ukraine">
                {% endif %}
                <h1 class="e-card-title">{{ event.title }}</h1>
                <div class="e-card-info">
                    <span class="e-card-info-title">Date:</span>
                    <span class="e-card-info-data">{{ event.date.isoformat() }}</span>
                </div>
                <div class="e-card-info">
                    <span class="e-card-info-title e-card-info-title__line">Description:</span>
                    <span class="e-card-info-data">{{ event.desc }}</span>
                </div>
                {% if event.url %}
                    <div class="e-card-info">
                        <span class="e-card-info-title">Find more detail at:</span>
                        <span class="e-card-info-data"><a href="{{ event.url }}">{{ event.url }}</a></span>
                    </div>
                {% endif %}
                <div class="e-card-info">
                    <span class="e-card-info-title">Organizer:</span>
                    <span class="e-card-info-data">{{ event.host_gdg.name }}</span>
                </div>
                {% if event.gplus_event_id %}
                    <div>
                    <span class="e-card-info-title">Google+:</span>
                    <span class="e-card-info-data">
                        <a href="https://plus.google.com/events/{{ event.gplus_event_id }}">
                            Go!
                        </a>
                    </span>
                    </div>
                {% endif %}

                <div class="e-card-info">
                    <a class="e-card-action_link"
                       href="{{ url_for_routes('event_register', id=event.id) }}"
                    >
                        Participate!
                    </a>
                </div>
                {% if event.google_map_iframe %}
                <div>
                    <label>
                        <span>Please find the location below:</span>
                        <iframe style="text-align: center;" width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{ event.google_map_iframe }}output=embed"></iframe><br /><small><a href="{{ event.google_map_iframe }}source=embed" style="color:#0000FF;text-align:left">Переглянути більшу мапу</a></small>
                    </label>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% include 'ga.html' %}
</body>
</html>
