{% extends "base.html" %}
{% block title %}Welcome{% endblock title %}
{% block head -%}
    {{ super() }}
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="https://jquery-json.googlecode.com/files/jquery.json-2.4.min.js"></script>
    <script>
        $.postJSON = function(url, data, callback) {
            $.ajaxSetup({ scriptCharset:"utf-8", 
                            contentType:"application/json; charset=utf-8" });
            $.post(url, $.toJSON(data), callback, "json");
        }
    </script>
{%- endblock head %}
{% block content -%}
    Hello World!
{%- endblock content %}
