<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="GDG,Ukraine,Developers">
    <meta name="description" content="Google Developers Group in Ukraine">
    <meta name="author" content="GDG Ukraine dev team">

    {% include "og.html" %}

    <title>GDG in Ukraine</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

    <style>
.brand-logo.brand-logo {
  color: #444;
}
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}
.no-pad-bot {
  position: absolute;
  bottom: 0;
}
.full-size {
  width: 100%;
  height: 100%;
}
    </style>
  </head>

  <body>
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">
          GDG in Ukraine
        </a>
      </div>
    </nav>

    <div class="parallax-container">
      <div class="parallax">
        <img src="{{ url_for_static('img/backgrounds/devfest-group-photo.jpg') }}"
             alt="#dfua16"
             style="display: block; transform: translate3d(-50%, 370px, 0px);">
      </div>
    </div>

    <div class="container">
      <div class="section">

        <div class="row">
          <div class="col s12 center">
            <h3><i class="mdi-content-send brown-text"></i></h3>
            <h4>Chapters</h4>
            {% for place in places %}
            <div class="col s6 m4 l3">
              <div class="card-panel">
                <span>
                  <a href="{{ place.url }}">
                    <img src="{{ url_for_static('img/local-icon.png') }}">
                    <p>{{ place.name }}</p>
                  </a>
                </span>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="parallax-container">
      <div class="section no-pad-bot">
        <div style="width: 100%; height: 500px;"
             data-extends="map"
             data-clat="49.5"
             data-clng="30.9"
             data-zoom="5"
             data-places='{{ places | tojson }}'>
        </div>
      </div>
    </div>

    <footer class="page-footer teal">
      <div class="container">
        <div class="row">
          <div class="col l9 s12">
            <h5 class="white-text">What is GDG?</h5>
            <p class="grey-text text-lighten-4">Google Developer Groups (GDGs) are for developers who are interested in Google's developer technology; everything from the Android, Chrome, Drive, and Google Cloud platforms, to product APIs like the Cast API, Maps API, and YouTube API.</p>


          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
              <li><a class="white-text" href="//devfest.gdg.org.ua">DevFest Ukraine</a></li>
              <li><a class="white-text" href="{{ url_for_routes('list_events') }}">Our Events</a></li>
              <li><a class="white-text" href="//developers.google.com/groups/directory/Ukraine">We are on Google Developers</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          Made by <a class="brown-text text-lighten-3" href="//github.com/GDG-Ukraine">GDG Ukraine</a>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false&amp;language=en" defer></script>
    <script src="{{ url_for_static('js/map.js') }}" defer></script>
    {% include 'ga.html' %}
  </body>
</html>
