<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <base href="/"></base>
    <title>GDG Events | Registration to "{{ event.title }}" is closed</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="author" content="Oleh Zasadnyy" />
    <meta name="author" content="Svyatoslav Sydorenko">
    <meta name="author" content="Valentyn Shybanov">
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" />
    <style>
        p, ul {
            padding: 20px;
            font-size: 2em;
        }
    </style>
</head>

<body>

<div class="wrapper">
    <div id="main" role="main">
            <div id="contact-form">
                {% include 'logo.html' %}

                <h1>Registration to {{ event.title }} is closed</h1>

                <h2>Sorry, but registration to this event is already closed. You can <a href="{{ event.url }}">check event details</a></h2>
                <p>
                    Please consider visiting our next events:
                    <ul>
                    {% for e in events if not e.testing %}
                        <li><a href="{{ e.url }}" target="_blank">{{ e.title }}</a> {{ e.date }}</li>
                    {% endfor %}
                    </ul>
                </p>
            </div>
     </div>
 </div>
</body>
</html>
