<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <base href="/"></base>
    <title>GDG Events | {{ event.title }} registration</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="author" content="Oleh Zasadnyy">
    <meta name="author" content="Svyatoslav Sydorenko">
    <meta name="author" content="Valentyn Shybanov">

    <!-- Start opengraph meta -->
    <!-- Override author, cause opengraph picks last author meta -->
    <meta name="author" content="{{ event.host_gdg.name|e or 'GDG Ukraine' if event.host_gdg_id else 'GDG Ukraine' }}">
    <!-- Actually opengraph meta -->
    <meta property="og:title" content="Registration: {{ event.title|e }}">
    <meta property="og:description" content="{{ event.desc|e }}">
    <meta property="og:site_name" content="GDG Ukraine Events">
    <meta property="og:image" content="https://gdg.org.ua/img/pattern.png"><!-- TODO: refactor with dynamic url generation -->

    <!-- Twitter meta tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@KyivGTUG"><!-- TODO: group specific twitter -->
    <meta name="twitter:title" content="Registration: {{ event.title|e }}">
    <meta name="twitter:description" content="{{ event.desc|e }}">
    <meta name="twitter:image" content="https://gdg.org.ua/img/pattern.png">
    <!-- End opengraph meta-->

    <link href="/favicon.ico" rel="icon" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="/js/contact_form.js"></script>
    <script src="/js/selectable.js"></script>
    <script src="https://apis.google.com/js/plusone.js"></script>
    <!-- Place this asynchronous JavaScript just before your </body> tag -->
    <script type="text/javascript">
        (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/client:plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
        function signinCallback(authResult) {
            if (authResult['access_token']) {
                // Successfully authorized
                // Hide the sign-in button now that the user is authorized, for example:
                document.getElementById('signinButton').setAttribute('style', 'display: none');
                console.log(authResult);
                gapi.client.request({
                    path: '/oauth2/v2/userinfo',
                    callback: function(r) {
                        gapi.client.request({
                            path: '/plus/v1/people/' + r.id,
                            callback: function(r) {
                                console.log(r);
                                window.localStorage.gplus_api_user = JSON.stringify(r);
                                var user = {};
                                user.gender = r.gender;
                                user.t_shirt_size = 'm';
                                user.english_knowledge = 'intermediate';
                                user.experience_level = 'intermediate';
                                user.name = r.name.givenName;
                                user.surname = r.name.familyName;
                                user.email = '';
                                user.gplus = r.id;
                                if (typeof r.placesLived !== 'undefined' && r.placesLived.length > 0) {
                                    user.hometown = r.placesLived[0].value;
                                }
                                user.nickname = r.nickname;
                                user.phone = '';
                                if (typeof r.urls !== 'undefined' && r.urls.length > 0) {
                                    user.www = r.urls[0].value;
                                } else if (typeof r.url !== 'undefined') {
                                    user.www = r.url;
                                }
                                if (typeof r.organizations !== 'undefined' && r.organizations.length > 0) {
                                    for (var c in r.organizations) {
                                        c = r.organizations[c];
                                        if (c.type === 'work') {
                                            user.company = c.name;
                                            user.position = c.title;
                                            if (c.primary) {
                                                break;
                                            }
                                        }
                                    }
                                }
                                user.events_visited = '';
                                user.interests = '';
                                var do_reload = false; //console.log(window.localStorage.user);
                                var ls_user = window.localStorage.user;
                                if (typeof ls_user !== 'undefined') {
                                    ls_user = JSON.parse(ls_user);
                                    if (typeof ls_user.gplus !== 'undefined'
                                            && ls_user.gplus === user.gplus) {
                                        var tmp = user;
                                        angular.extend(user, ls_user);
                                        ls_user = user;
                                        user = tmp;
                                    } else {
                                        if (typeof ls_user.gplus
                                                ==='undefined') {
                                            ls_user = {};
                                        }
                                        angular.extend(ls_user, user);
                                        do_reload = true;
                                    }
                                } else {
                                    ls_user = user;
                                    do_reload = true;
                                }
                                console.log('user and ls_user:');
                                console.log(user, ls_user);
                                //$route.reload();
                                window.localStorage.user = JSON.stringify(ls_user);
                                angular.module('gdgorgua')
                                        .value('GoogleUser', ls_user);


                                $.postJSON = function(url, data, callback) {
                                    return jQuery.ajax({
                                        'type': 'POST',
                                        'url': url,
                                        'contentType': 'application/json',
                                        'data': JSON.stringify(data),
                                        'dataType': 'json',
                                        'success': callback
                                    });
                                };

                                // Ugly jquery until #41 implemented
                                $.postJSON('/api/sign-in', {
                                       id_token: authResult.id_token,
                                       access_code: authResult.code,
                                   }).then(
                                    function(result) {
                                        console.log(result);
                                    });

                                if (do_reload) {
                                    window.location.reload();
                                }
                            }
                        });
                    }
                });
                /*
                gapi.client.plus.people.get({userId: 'me'}).execute(
                    function(r) {
                        console.log(r);
                        angular.module('gdgorgua')
                                .value('GoogleUser', r);
                        $route.reload();
                    }
                );
                */
            } else if (authResult['error']) {
                // There was an error.
                // Possible error codes:
                //   "access_denied" - User denied access to your app
                //   "immediate_failed" - Could not automatically log in the user
                // console.log('There was an error: ' + authResult['error']);
            }
        }
    </script>
</head>

<body>

    <div class="wrapper" ng-app="gdgorgua">
        <div id="main" role="main" ng-controller="contactForm">
            {% if not invite and (event.max_regs and event.max_regs - event.participants | count < 5) %}
            <span style="background: red; color: white; text-align: center; font-weight: bolder; width: 575px; display: block; border-radius: 8px; padding: 10px; margin: 10px;">
                Attention! The event registration is closing soon!
            </span>
            {% endif %}
            <form id="contact-form" name="contactForm">
                {% if event.host_gdg_id and event.host_gdg %}<a href="{{ event.host_gdg.url }}"><img id="logo" src="{{ event.host_gdg.logo }}" alt="logo"></a>{% else %}<img id="logo" src="/img/logo.png" alt="logo">{% endif %}
                <h1>Register to {{ event.title }}</h1>
                    <div ng-show="fromGoogle">
                        <img align="right" width="64px" ng-src="{{ '{{picture}}' }}">
                    </div>
                <h3>Please fill this form if you want to participate the event
                    <span> (in English only)</span>
                </h3>
                <!--  G+ Sing-In test -->
                <div id="gplussignin" style="text-align: center;">
                    <span id="signinButton">
                        <span
                            class="g-signin"
                            data-callback="signinCallback"
                            data-clientid="1012272991665.apps.googleusercontent.com"
                            data-cookiepolicy="single_host_origin"
                            data-requestvisibleactions="https://schemas.google.com/AddActivity"
                            data-scope="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/plus.me">
                        </span>
                    </span>
                </div>
                <!-- /G+ Sing-In test -->
                <!--div>
                    <div ng-hide="fromGoogle">
                        If you have Google account, please <a href="/auth">
                        <img style="vertical-align:middle" src="/img/social-google-box-icon.png" />
                        login using Google Account</a>
                    </div>
                    <div ng-show="fromGoogle">
                        Wellcome, <strong>{{ '{{user.name}}' }}</strong>.
                        <a href="/logout">Use another account</a>
                    </div>
                </div-->
                {% if event.google_map_iframe %}
                <div>
                    <label>
                        <span>Please find the location below:</span>
                        <iframe style="text-align: center;" width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{ event.google_map_iframe }}output=embed"></iframe><br /><small><a href="{{ event.google_map_iframe }}source=embed" style="color:#0000FF;text-align:left">Переглянути більшу мапу</a></small>
                    </label>
                </div>
                {% endif %}
                {% if 'name' not in event.hidden %}
                <div>
                    <label>
                        <span>Name*</span>
                        <input placeholder="e.g. Sergey" type="text" tabindex="1" pattern="[A-Za-z]{2,16}" required autofocus ng-model="user.name" ng-disabled="fromGoogle">
                    </label>
                </div>
                {% endif %}
                {% if 'surname' not in event.hidden %}
                <div>
                    <label>
                        <span>Surname*</span>
                        <input placeholder="e.g. Brin" type="text" tabindex="2" pattern="[A-Za-z]{2,16}" required ng-model="user.surname" ng-disabled="fromGoogle">
                    </label>
                </div>
                {% endif %}
                {% if 'nickname' not in event.hidden %}
                <div>
                    <label>
                        <span>Nickname</span>
                        <input placeholder="e.g. SuperBrin" type="text" tabindex="3" ng-model="user.nickname">
                    </label>
                </div>
                {% endif %}
                {% if 'email' not in event.hidden %}
                <div>
                    <label>
                        <span>Email*</span>
                        <input placeholder="anything@example.com" type="email" tabindex="4" required ng-model="user.email"{% if invite is not none and invite.email is not none and invite.email != '' %} ng-init="user.email = '{{invite.email}}'" ng-disabled="'true'" value="{{ invite.email }}"{% else %} ng-disabled="fromGoogle"{% endif %}>
                    </label>
                </div>
                {% endif %}
                {% if 'phone' not in event.hidden %}
                <div>
                    <label>
                        <span>Telephone</span>
                        <input placeholder="0930000042" type="tel" tabindex="5" ng-model="user.phone">
                    </label>
                </div>
                {% endif %}
                {% if 'gplus' not in event.hidden %}
                <div>
                    <label>
                        <span>Google+ *</span>
                        <input placeholder="e.g. 1000000000042" type="text" tabindex="6" ng-model="user.gplus" ng-disabled="fromGoogle" required>
                    </label>
                </div>
                {% endif %}
                {% if 'www' not in event.hidden %}
                <div>
                    <label>
                        <span>Website</span>
                        <input placeholder="Start with http://" type="url" tabindex="7" ng-model="user.www">
                    </label>
                </div>
                {% endif %}
                {% if 'hometown' not in event.hidden %}
                <div>
                    <label>
                        <span>City*</span>
                        <input placeholder="e.g. Mountain View" type="text" tabindex="8" required ng-model="user.hometown">
                    </label>
                </div>
                {% endif %}
                {% if 'company' not in event.hidden %}
                <div>
                    <label>
                        <span>Company</span>
                        <input placeholder="e.g. Google" type="text" tabindex="9" ng-model="user.company">
                    </label>
                </div>
                {% endif %}
                {% if 'position' not in event.hidden %}
                <div>
                    <label>
                        <span>Position</span>
                        <input placeholder="e.g. Cofounder" type="text" tabindex="10" ng-model="user.position">
                    </label>
                </div>
                {% endif %}
                {% if 'experience_level' not in event.hidden %}
                <div>
                    <label>
                        <span>Experience level</span>
                        <select name="expereence_level" tabindex="11" ng-model="user.experience_level">
                            <option value="newbie">Newbie</option>
                            <option value="elementary">Elementary</option>
                            <option value="intermediate" selected>Intermediate</option>
                            <option value="advanced">Advanced</option>
                            <option value="jedi">Jedi</option>
                        </select>
                    </label>
                </div>
                {% endif %}
                {% if 'experience_desc' not in event.hidden %}
                <div>
                    <label>
                        <span>Experience description</span>
                        <textarea placeholder="e.g. Software developer particularly interested in Java technologies and Google applications. Worked in various countries: Ukraine, USA, Poland. Have great ability to work remotely, high mobility, sense of humor." tabindex="12" ng-model="user.experience_desc"></textarea>
                    </label>
                </div>
                {% endif %}
                {% if 'interests' not in event.hidden %}
                <div>
                    <label>
                        <span>Interests</span>
                        <textarea placeholder="e.g. Google, Android, Chrome" tabindex="13" ng-model="user.interests"></textarea>
                    </label>
                </div>
                {% endif %}
                {% if 'events_visited' not in event.hidden %}
                <div>
                    <label>
                        <span>Events visited</span>
                        <input placeholder="e.g. IO Extended 2012, GDG DevFest, hackathons, code labs, dev courses or WTM events" type="text" tabindex="14" ng-model="user.events_visited">
                    </label>
                </div>
                {% endif %}
                {% if 'english_knowledge' not in event.hidden %}
                <div>
                    <label>
                        <span>English knowledge</span>
                        <select name="english_knowledge" tabindex="15" ng-model="user.english_knowledge">
                            <option value="elementary">Elementary</option>
                            <option value="intermediate">Intermediate</option>
                            <option value="upper intermediate" selected>Upper intermediate</option>
                            <option value="advanced">Advanced</option>
                            <option value="native">Native</option>
                        </select>
                    </label>
                </div>
                {% endif %}
                {% if 't_shirt_size' not in event.hidden %}
                <div>
                    <label>
                        <span>T-Shirt size</span>
                        <select name="t_shirt_size" tabindex="16" ng-model="user.t_shirt_size">
                            <option value="xs">XS</option>
                            <option value="s">S</option>
                            <option value="m" selected>M</option>
                            <option value="l">L</option>
                            <option value="xl">XL</option>
                            <option value="xxl">XXL</option>
                        </select>
                    </label>
                </div>
                {% endif %}
                {% if 'gender' not in event.hidden %}
                <div>
                    <label>
                        <span>Gender</span>
                        <input type="radio" name="sex" id="male" value="male" tabindex="17" ng-model="user.gender" ng-disabled="fromGoogle">
                        <label for="male">Male</label>
                        <input type="radio" name="sex" id="female" value="female" ng-model="user.gender" ng-disabled="fromGoogle">
                        <label for="female">Female</label>
                    </label>
                </div>
                {% endif %}
                {% if 'additional_info' not in event.hidden %}
                <div>
                   <label>
                       <span>Comments</span>
                       <textarea placeholder="Some comments" tabindex="18" ng-model="user.additional_info"></textarea>
                   </label>
                </div>
                {% endif %}
                {% for f in event.fields %}
                    {% if f.type == 'select' %}
                <div ng-init="options = {{ f.options }}">
                    <label>
                        <span>{{ f.title }}</span>
                    </label>
                    <selectable custom="{{ f.allow_custom | lower }}" source="options" model="fields.{{ f.name }}" multiple="{{ f.multiple | lower }}"></selectable>
                </div>
                    {% else %}
                <div>
                    <label>
                        <span>{{ f.title }}</span>
                        <input type="{{ f.type }}" ng-model="fields.{{ f.name }}">
                    </label>
                </div>
                    {% endif %}
                {% endfor %}
                <div ng-show="showOk" class="alert alert-success">
                    Your application was saved. See you on event!
                </div>
                <div ng-show="showError" class="alert alert-error">
                    There is an error while saving your application. Please check details of your application.
                </div>

                <div>
                    <button name="submit" type="submit" id="contact-submit" class="action red" tabindex="19"  ng-class="{disabled: !contactForm.$valid}" ng-click="submit()"><span class="label red">Submit</span></button>
                </div>
                <p>*denotes a required field</p>
                {% if invite is not none %}
                <input type="hidden" ng-model="invite_code" ng-init="invite_code = '{{ invite.code }}'" value="{{ invite.code }}">
                {% endif %}
            </form>
        </div>
    </div>
    <div id="footer" style="text-align: center; color: rgba(50, 50, 50, 0.7);">
        <small>
            Regform by <a href="https://plus.google.com/102989169039151799851/about">Oleh Zasadnyy</a>, <a href="https://plus.google.com/112452406409308053659/about">Valentyn Shybanov</a>, <a href="https://plus.google.com/110108248841907526802/about">Svyatoslav Sydorenko</a> and <a href="https://google.com/+OlexandrKovalchuk">Olexandr Kovalchuk</a> | <a href="https://github.com/GDG-Ukraine/gdg.org.ua/issues">Report an issue</a><br />
            Hosted by <a href="https://plus.google.com/116109046236945545073/about">Oleh Bozhenko</a>
        </small>
    </div>
    <script>
    angular.module('gdgorgua')
            .value('GoogleUser', null)
            .value('GoogleEvent', null);

    </script>
</body>
</html>
<!--
    vim: softtabstop=4 shiftwidth=4 expandtab
-->
