<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <base href="/"></base>
    <title>GDG Events | {{ event.title }} registration</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="author" content="Oleh Zasadnyy">
    <meta name="author" content="Svyatoslav Sydorenko">
    <meta name="author" content="Valentyn Shybanov">

    <!-- Start opengraph meta -->
    <!-- Override author, cause opengraph picks last author meta -->
    <meta name="author" content="{{ event.host_gdg.name|e or 'GDG Ukraine' if event.host_gdg_id else 'GDG Ukraine' }}">
    <!-- Actually opengraph meta -->
    <meta property="og:title" content="Registration: {{ event.title|e }}">
    <meta property="og:description" content="{{ event.desc|e }}">
    <meta property="og:site_name" content="GDG Ukraine Events">
    <meta property="og:image" content="https://gdg.org.ua/img/pattern.png"><!-- TODO: refactor with dynamic url generation -->

    <!-- Twitter meta tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@KyivGTUG"><!-- TODO: group specific twitter -->
    <meta name="twitter:title" content="Registration: {{ event.title|e }}">
    <meta name="twitter:description" content="{{ event.desc|e }}">
    <meta name="twitter:image" content="https://gdg.org.ua/img/pattern.png">
    <!-- End opengraph meta-->

    <link href="/favicon.ico" rel="icon" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="/js/contact_form.js"></script>
    <script src="/js/selectable.js"></script>
    <script src="https://apis.google.com/js/plusone.js"></script>
    <!-- Place this asynchronous JavaScript just before your </body> tag -->
    <script type="text/javascript">
        (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/client:plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
        function signinCallback(authResult) {
            if (authResult['access_token']) {
                // Successfully authorized
                // Hide the sign-in button now that the user is authorized, for example:
                document.getElementById('signinButton').setAttribute('style', 'display: none');
                console.log(authResult);
                gapi.client.request({
                    path: '/oauth2/v2/userinfo',
                    callback: function(r) {
                        gapi.client.request({
                            path: '/plus/v1/people/' + r.id,
                            callback: function(r) {
                                console.log(r);
                                window.localStorage.gplus_api_user = JSON.stringify(r);
                                var user = {};
                                user.gender = r.gender;
                                user.t_shirt_size = 'm';
                                user.english_knowledge = 'intermediate';
                                user.experience_level = 'intermediate';
                                user.name = r.name.givenName;
                                user.surname = r.name.familyName;
                                user.email = '';
                                user.gplus = r.id;
                                if (typeof r.placesLived !== 'undefined' && r.placesLived.length > 0) {
                                    user.hometown = r.placesLived[0].value;
                                }
                                user.nickname = r.nickname;
                                user.phone = '';
                                if (typeof r.urls !== 'undefined' && r.urls.length > 0) {
                                    user.www = r.urls[0].value;
                                } else if (typeof r.url !== 'undefined') {
                                    user.www = r.url;
                                }
                                if (typeof r.organizations !== 'undefined' && r.organizations.length > 0) {
                                    for (var c in r.organizations) {
                                        c = r.organizations[c];
                                        if (c.type === 'work') {
                                            user.company = c.name;
                                            user.position = c.title;
                                            if (c.primary) {
                                                break;
                                            }
                                        }
                                    }
                                }
                                user.events_visited = '';
                                user.interests = '';
                                var do_reload = false; //console.log(window.localStorage.user);
                                var ls_user = window.localStorage.user;
                                if (typeof ls_user !== 'undefined') {
                                    ls_user = JSON.parse(ls_user);
                                    if (typeof ls_user.gplus !== 'undefined'
                                            && ls_user.gplus === user.gplus) {
                                        var tmp = user;
                                        angular.extend(user, ls_user);
                                        ls_user = user;
                                        user = tmp;
                                    } else {
                                        if (typeof ls_user.gplus
                                                ==='undefined') {
                                            ls_user = {};
                                        }
                                        angular.extend(ls_user, user);
                                        do_reload = true;
                                    }
                                } else {
                                    ls_user = user;
                                    do_reload = true;
                                }
                                console.log('user and ls_user:');
                                console.log(user, ls_user);
                                //$route.reload();
                                window.localStorage.user = JSON.stringify(ls_user);
                                angular.module('gdgorgua')
                                        .value('GoogleUser', ls_user);


                                $.postJSON = function(url, data, callback) {
                                    return jQuery.ajax({
                                        'type': 'POST',
                                        'url': url,
                                        'contentType': 'application/json',
                                        'data': JSON.stringify(data),
                                        'dataType': 'json',
                                        'success': callback
                                    });
                                };

                                // Ugly jquery until #41 implemented
                                $.postJSON('/api/sign-in', {
                                       access_code: authResult.code,
                                   }).then(
                                    function(result) {
                                        console.log(result);
                                    });

                                if (do_reload) {
                                    window.location.reload();
                                }
                            }
                        });
                    }
                });
                /*
                gapi.client.plus.people.get({userId: 'me'}).execute(
                    function(r) {
                        console.log(r);
                        angular.module('gdgorgua')
                                .value('GoogleUser', r);
                        $route.reload();
                    }
                );
                */
            } else if (authResult['error']) {
                // There was an error.
                // Possible error codes:
                //   "access_denied" - User denied access to your app
                //   "immediate_failed" - Could not automatically log in the user
                // console.log('There was an error: ' + authResult['error']);
            }
        }
    </script>
</head>

<body>

    <div class="wrapper" ng-app="gdgorgua">
        <div id="main" role="main" ng-controller="contactForm">
            {% if not invite and (event.max_regs and event.max_regs - event.participants | count < 5) %}
            <span style="background: red; color: white; text-align: center; font-weight: bolder; width: 575px; display: block; border-radius: 8px; padding: 10px; margin: 10px;">
                Attention! The event registration is closing soon!
            </span>
            {% endif %}
            <form id="contact-form" name="contactForm">
                {% include 'logo.html' %}
                <h1>Register to {{ event.title }}</h1>
                    <div ng-show="fromGoogle">
                        <img align="right" width="64px" ng-src="{{ '{{picture}}' }}">
                    </div>
                <h3>Please fill this form if you want to participate the event
                    <span> (in English only)</span>
                </h3>
                <!--  G+ Sing-In test -->
                <div id="gplussignin" style="text-align: center;">
                    <span id="signinButton">
                        <span
                            class="g-signin"
                            data-callback="signinCallback"
                            data-clientid="1012272991665.apps.googleusercontent.com"
                            data-cookiepolicy="single_host_origin"
                            data-requestvisibleactions="https://schemas.google.com/AddActivity"
                            data-scope="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/plus.me">
                        </span>
                    </span>
                </div>
                <!-- /G+ Sing-In test -->
                <!--div>
                    <div ng-hide="fromGoogle">
                        If you have Google account, please <a href="/auth">
                        <img style="vertical-align:middle" src="/img/social-google-box-icon.png" />
                        login using Google Account</a>
                    </div>
                    <div ng-show="fromGoogle">
                        Wellcome, <strong>{{ '{{user.name}}' }}</strong>.
                        <a href="/logout">Use another account</a>
                    </div>
                </div-->
                {% if event.google_map_iframe %}
                <div>
                    <label>
                        <span>Please find the location below:</span>
                        <iframe style="text-align: center;" width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{ event.google_map_iframe }}output=embed"></iframe><br /><small><a href="{{ event.google_map_iframe }}source=embed" style="color:#0000FF;text-align:left">Переглянути більшу мапу</a></small>
                    </label>
                </div>
                {% endif %}


                {% for field in registration_form %}
                <div>
                    <label for="{{ field.name }}">
                        <span>{{ field.label }}{% if field.flags.required %}*{% endif %}</span>
                    </label>
                    {# Crutch to support angular options properly #}
                    {% if field.name in ['name', 'surname', 'gplus'] %}
                        {{
                            field(**{
                                "ng-model": "user.{}".format(field.name),
                                "tabindex": loop.index,
                                "ng-disabled": "fromGoogle",
                                "required": field.flags.required,
                            })
                        }}
                    {% elif field.name == "email" %}
                        {{
                            field(**{
                                "ng-model": "user.{}".format(field.name),
                                "tabindex": loop.index,
                                "ng-disabled": "'true'" if invite and invite.email else "fromGoogle",
                                "ng-init": "user.{} = '{}'".format((field.name, invite.email)) if invite and invite.email else "",
                                "required": field.flags.required,
                            })
                        }}
                    {% else %}
                        {{
                            field(**{
                                "ng-model": "user.{}".format(field.name),
                                "tabindex": loop.index,
                                "required": field.flags.required,
                            })
                        }}
                    {% endif %}
                    <span class="errors" ng-show="_errors.{{ field.name }}">{{ '{{{{  _errors.{} }}}}'.format(field.name) }}</span>
                </div>
                {% endfor %}

                {% for f in event.fields %}
                    {% if f.type == 'select' %}
                        <div ng-init="options = {{ f.options }}">
                            <label>
                                <span>{{ f.title }}{% if f.required %}*{% endif %}</span>
                            </label>
                            <selectable custom="{{ f.allow_custom | lower }}" source="options" model="fields.{{ f.name }}" multiple="{{ f.multiple | lower }}"></selectable>

                            <span class="errors" ng-show="_errors.{{ f.name }}">{{ '{{{{  _errors.{} }}}}'.format(f.name) }}</span>
                        </div>
                    {% else %}
                        <div>
                            <label>
                                <span>{{ f.title }}{% if f.required %}*{% endif %}</span>
                                <input type="{{ f.type }}" ng-model="fields.{{ f.name }}" {% if f.required %}required{% endif %}>
                            </label>
                            <span class="errors" ng-show="_errors.{{ f.name }}">{{ '{{{{  _errors.{} }}}}'.format(f.name) }}</span>
                        </div>
                    {% endif %}
                {% endfor %}

                <div ng-show="showOk" class="alert alert-success">
                    Your application was saved. See you on event!
                </div>
                <div ng-show="showError" class="alert alert-error">
                    There is an error while saving your application. Please check details of your application.
                </div>

                <div>
                    <button name="submit" type="submit" id="contact-submit" class="action red" tabindex="19"  ng-class="{disabled: !contactForm.$valid}" ng-click="submit()"><span class="label red">Submit</span></button>
                </div>
                <p>*denotes a required field</p>
                {% if invite is not none %}
                <input type="hidden" ng-model="invite_code" ng-init="invite_code = '{{ invite.code }}'" value="{{ invite.code }}">
                {% endif %}
            </form>
        </div>
    </div>
    <div id="footer" style="text-align: center; color: rgba(50, 50, 50, 0.7);">
        <small>
            Regform by <a href="https://plus.google.com/102989169039151799851/about">Oleh Zasadnyy</a>, <a href="https://plus.google.com/112452406409308053659/about">Valentyn Shybanov</a>, <a href="https://plus.google.com/110108248841907526802/about">Svyatoslav Sydorenko</a> and <a href="https://google.com/+OlexandrKovalchuk">Olexandr Kovalchuk</a> | <a href="https://github.com/GDG-Ukraine/gdg.org.ua/issues">Report an issue</a><br />
            Hosted by <a href="https://plus.google.com/116109046236945545073/about">Oleh Bozhenko</a>
        </small>
    </div>
    <script>
    angular.module('gdgorgua')
            .value('GoogleUser', null)
            .value('GoogleEvent', null);

    </script>
    {% include 'ga.html' %}
</body>
</html>
<!--
    vim: softtabstop=4 shiftwidth=4 expandtab
-->
