<!DOCTYPE html>
<html ng-app="gdgorgua">
<head>
    <link href="/favicon.ico" rel="icon" type="image/x-icon">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
    <link href="/libs/bower_components/angular-directive.g-signin/google-plus-signin.css" rel="stylesheet">
    <link href="/css/datepicker.css" rel="stylesheet">
    <link href="/css/admin.css" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="/libs/bower_components/angular/angular.min.js"></script>
    <script src="/libs/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/libs/bower_components/angular-resource/angular-resource.min.js"></script>

    <script src="/libs/bower_components/angular-directive.g-signin/google-plus-signin.js"></script>

    <script src="/js/angular-strap.min.js"></script>
    <script src="/js/bootstrap-datepicker.js"></script>
    <script src="/js/admin.js"></script>
    <script src="/js/events.js"></script>
    <script src="/js/participants.js"></script>
</head>
<body ng-controller="MainCtrl">
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <a class="brand" href="#">GDG Data</a>
        <ul class="nav">
            <li ng-class="{active: current == 'events'}"><a href="#/events"><i class="icon-trophy"></i> Events</a></li>
            <li ng-class="{active: current == 'participants'}" ng-show="info.user.godmode"><a href="#/participants"><i class="icon-group"></i> Participants</a></li>
            <li id="spinner" ng-class='{visible:requests>0}'>
                <span id="l1">L</span><span id="l2">o</span><span id="l3">a</span><span id="l4">d</span><span id="l5">i</span><span id="l6">n</span><span id="l7">g</span><span id="l8">.</span><span id="l9">.</span><span id="l10">.</span>
            </li>

        </ul>
        <span id='user-panel' ng-show='info'>
                <span ng-show='info.user'>
                     <div class="btn-group">
                <button class='btn dropdown-toggle' data-toggle="dropdown">
                {{info.user.email}} <img ng-src='{{info.user.picture}}' style='height:20px'/>
                    <span class="caret"></span>
                </button>
                    <ul class="dropdown-menu">
                        <li><a href="/auth/logout"><i class="icon-off"></i> Logout from admin panel</a></li>
                    </ul>
                         </div>
                </span>
                <img ng-show='info.place.logo' ng-src='http://gdg.org.ua{{info.place.logo}}' style='height:32px'/>
        </span>
    </div>
</div>
<div id="error" ng-show="error">
    <h1>Some ugly error happened, please reload the page!</h1>
    <br>
    <google-plus-signin clientid="1012272991665" language="en"></google-plus-signin>
</div>

<div ng-view class='content'></div>
</body>
