<!doctype html>
<html ng-app="gdgorgua">
<head>
    <link href="/favicon.ico" rel="icon" type="image/x-icon">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
    <link href="/css/datepicker.css" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular-resource.min.js"></script>
    <!--script src="/js/ui-bootstrap-tpls-0.1.0.min.js"></script-->
    <script src="/js/angular-strap.min.js"></script>
    <script src="/js/bootstrap-datepicker.js"></script>
    <script src="/js/admin.js"></script>
    <script src="/js/events.js"></script>
    <script src="/js/participants.js"></script>
    <style>
        .clickable td {
            cursor: pointer;
            -webkit-transition: all 0.2s ease-in-out;
        }

        .clickable:hover td {
            background-color: #FFA !important;
        }

        .content {
            padding-top: 50px;
        }
    </style>
</head>
<body ng-controller="MainCtrl">

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <a class="brand" href="#">GDG Data</a>
        <ul class="nav">
            <li ng-class="{active: current == 'events'}"><a href="#/events">Events</a></li>
            <li ng-class="{active: current == 'participants'}"><a href="#/participants">Participants</a></li>
        </ul>
    </div>
</div>
<div ng-view class="content"></div>
</body>
