.clickable td{
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
}
.clickable:hover td{
    background-color: #FFA !important;
}
.content {
    padding-top: 50px;
}

#spinner {
    padding: 5px;
    margin: 4px;
    width: 320px;
    opacity: 0;
    display:none;
    -webkit-transition: all 0.5s ease-in-out;
    -webkit-transform: scale(0.5) skew(50deg,0deg);
}
#spinner span{
    -webkit-transition: all 0.5s ease-in-out;
    animation: flow 2s infinite;
    -webkit-animation: flow 2s infinite; /* Safari and Chrome */
    font-family: monospace;
    display: inline-block;
    font-size: 18px;
    width: 10px;
}
#spinner.visible {
    opacity: 1;
    display: visible;
    -webkit-transform: scale(1) skew(0deg,0deg);
}
#spinner span#l2 { animation-delay: 0.2s;-webkit-animation-delay: 0.2s;}
#spinner span#l3 { animation-delay: 0.4s;-webkit-animation-delay: 0.4s;}
#spinner span#l4 { animation-delay: 0.6s;-webkit-animation-delay: 0.6s;}
#spinner span#l5 { animation-delay: 0.8s;-webkit-animation-delay: 0.8s;}
#spinner span#l6 { animation-delay: 1s;-webkit-animation-delay: 1s;}
#spinner span#l7 { animation-delay: 1.2s;-webkit-animation-delay: 1.2s;}
#spinner span#l8 { animation-delay: 1.4s;-webkit-animation-delay: 1.4s;}
#spinner span#l9 { animation-delay: 1.6s;-webkit-animation-delay: 1.6s;}
#spinner span#l10 { animation-delay: 1.8s;-webkit-animation-delay: 1.8s;}

@keyframes flow
{
    0%   {color:black;}
    25%  {color:red;text-shadow: 0 0 0 #F00;}
    50%  {color:yellow;text-shadow: 0 0 15px #F00;}
    100% {color: black;}
}

@-webkit-keyframes flow /* Safari and Chrome */
{
    0%   {color:black;-webkit-transform: rotate(-20deg);}
    25%  {color:#00F;text-shadow: 0 0 10px #FF0;-webkit-transform: rotate(30deg) scale(2);width: 25px;}
    50%  {color:#5A5;text-shadow: 0 0 10px #FF0;-webkit-transform: rotate(-20deg);}
    100% {color: black;}
}

#error {
    position: absolute;
    z-index: 10000;
    background-color: rgba(11,11,11,0.6);
    padding-top:200px;
    width: 100%;
    color:#000;
    text-shadow: 0 0 50px #FFF;
    text-align: center;
    height:100%;
}

#error>span {
    display: inline-block;
}

#user-panel {
    float: right;
    padding-right: 5px;
}

.navbar .brand {
    margin-left: -10px;
}

.loading {
    text-align: center;
    background-color: rgba(250,250,100,0.2);
    color: brown;
    padding: 10px;

}
input.ng-invalid {
    border: solid 1px red;
    box-shadow: 0 0 12px 1px red;
}

span.clickable {
    border-bottom: dashed 1px blue;
    cursor: text;
}
