* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	margin:0;
	padding:0;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
body {
	background:#FFF;
	background-image:url('../img/pattern.png');
	color:#4e4e4e;
	font:400 0.75em 'Open Sans', sans-serif;
}
.wrapper {
	position:relative;
	margin:50px auto 20px;
	max-width:600px;
	width:95%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	background-color: #3b5998;
	background-image: -webkit-linear-gradient(top, #0087f7 25%, #fe2232 25%, #fe2232 50%, #ffaf00 50%, #ffaf00 75%, #00a256 75%);
	background-image: -moz-linear-gradient(top, #0087f7 25%, #fe2232 25%, #fe2232 50%, #ffaf00 50%, #ffaf00 75%, #00a256 75%);
	background-image: linear-gradient(to top, #0087f7 25%, #fe2232 25%, #fe2232 50%, #ffaf00 50%, #ffaf00 75%, #00a256 75%);
	-webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 0.4);
	box-shadow:         0px 0px 10px rgba(50, 50, 50, 0.4);
}
#main {
	padding:2px;
}
#logo {
	position:relative;
	left:50%;
	margin:15px 0 5% -35%;
	width:70%;
}
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea,
#contact-form select {
	font:400 1em 'Open Sans', sans-serif;
}
#contact-form {
	padding:25px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	background:#F9F9F9;
	text-shadow:0 1px 0 #FFF;
}
#contact-form h1 {
	display:block;
	color:#333333;
	font-size:2.33333333em;
}
#contact-form h3 {
	display:block;
	margin:0px 0 15px;
	font-size:1.08333333em;
}
#contact-form label span {
	display:block;
	margin:5px 0;
	color:#333333;
	font-weight:900;
	cursor:pointer;
}
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea,
#contact-form select {
	margin:0 0 5px;
	padding:10px;
	width:100%;
	border:1px solid #CCC;
	border-radius:5px;
	background:#FFF;
	-webkit-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-moz-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
}
#contact-form input[type="text"]:hover,
#contact-form input[type="email"]:hover,
#contact-form input[type="tel"]:hover,
#contact-form input[type="url"]:hover,
#contact-form textarea:hover,
#contact-form select:hover {
	border:1px solid #AAA;
	border-radius:5px;
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
}
#contact-form textarea {
	max-width:100%;
	height:8.33333333em;
}
#contact-form input:focus,
#contact-form textarea:focus {
	outline:0;
	border:1px solid #999;
	border-radius:5px;
}
::-webkit-input-placeholder {
    color:#888;
}
:-moz-placeholder {
    color:#888;
}
::-moz-placeholder {
    color:#888;
}
:-ms-input-placeholder {
    color:#888;
}


button{
	display: inline-block;
	margin: 5px 0;
	padding: 5px 6px 4px 6px;
	height: 2.41666666em;
	border: solid 1px #D9D9D9;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #F3F3F3;
	color: #FFF;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	font: bold 0.91666666em Helvetica, Arial, sans-serif;
	line-height: 1.41666666em;
	cursor: pointer;
	-webkit-transition: border-color .20s;
	-moz-transition: border-color .20s;
	-o-transition: border-color .20s;
	transition: border-color .20s;
}

button.action {
	border: 1px solid #D8D8D8 !important;
	background: #F2F2F2;
	background: -webkit-linear-gradient(top, #F5F5F5, #F1F1F1);
	background: -moz-linear-gradient(top, #F5F5F5, #F1F1F1);
	background: -ms-linear-gradient(top, #F5F5F5, #F1F1F1);
	background: -o-linear-gradient(top, #F5F5F5, #F1F1F1);
	-webkit-transition: border .20s;
	-moz-transition: border .20s;
	-o-transition: border .20s;
	transition: border .20s;
}
button.action:hover {
	border: 1px solid #C6C6C6 !important;
	background: #F3F3F3;
	background: -webkit-linear-gradient(top, #F8F8F8, #F1F1F1);
	background: -moz-linear-gradient(top, #F8F8F8, #F1F1F1);
	background: -ms-linear-gradient(top, #F8F8F8, #F1F1F1);
	background: -o-linear-gradient(top, #F8F8F8, #F1F1F1);
	-webkit-box-shadow: 0 1px 0px #DDD;
	-moz-box-shadow: 0 1px 0px #DDD;
	box-shadow: 0 1px 0px #DDD;
}
button.red {
	border: 1px solid #D14836 !important;
	background: #D64937;
	background: -webkit-linear-gradient(top, #DC4A38, #D14836);
	background: -moz-linear-gradient(top, #DC4A38, #D14836);
	background: -ms-linear-gradient(top, #DC4A38, #D14836);
	background: -o-linear-gradient(top, #DC4A38, #D14836);
	-webkit-transition: border .20s;
	-moz-transition: border .20s;
	-o-transition: border .20s;
	transition: border .20s;
}
button.red:hover {
	border: 1px solid #B0281A !important;
	background: #D14130;
	background: -webkit-linear-gradient(top, #DC4A38, #C53727);
	background: -moz-linear-gradient(top, #DC4A38, #C53727);
	background: -ms-linear-gradient(top, #DC4A38, #C53727);
	background: -o-linear-gradient(top, #DC4A38, #C53727);
}

button.action:active {
	border-color: #C6C6C6 !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}
button.red:active {
	border-color: #B0281A !important;
}

span.label {
	display: inline-block;
	float: left;
	overflow: hidden;
	padding: 0 1px;
	height: 1.5em;
	color: #444;
	line-height: 1.41666666em;
	-webkit-transition: color .20s;
	-moz-transition: color .20s;
	-o-transition: color .20s;
	transition: color .20s;
}
button:active span.label {
    color: #4D90FE;
}

button:hover .label {
    color: #333;
}
button:hover .label.red {
    color: #DB4A37;
}

button.red .label {
	color: #FFF !important;
	text-shadow: 0 1px 0 #B0281A !important;
}
button.action .label {
	padding: 0 17px !important;
}

button.action:active .label {
	color: #333 !important;
}

button.red:active .label {
	color: #FFF !important;
}

.alert{padding:8px 35px 8px 14px;margin-bottom:20px;text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);background-color:#fcf8e3;border:1px solid #fbeed5;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.alert,.alert h4{color:#c09853;}
.alert h4{margin:0;}
.alert .close{position:relative;top:-2px;right:-21px;line-height:20px;}
.alert-success{background-color:#dff0d8;border-color:#d6e9c6;color:#468847;}
.alert-success h4{color:#468847;}
.alert-danger,.alert-error{background-color:#f2dede;border-color:#eed3d7;color:#b94a48;}
.alert-danger h4,.alert-error h4{color:#b94a48;}
.alert-info{background-color:#d9edf7;border-color:#bce8f1;color:#3a87ad;}
.alert-info h4{color:#3a87ad;}
.alert-block{padding-top:14px;padding-bottom:14px;}
.alert-block>p,.alert-block>ul{margin-bottom:0;}
.alert-block p+p{margin-top:5px;}
