
  <h2>Editing participant #{{p.id}}</h2>

  <ul class="nav nav-tabs" ng-init="tab='info'">
      <li ng-class="{active: tab == 'info'}"><a ng-click="tab='info'">Information</a></li>
      <li ng-class="{active: tab == 'events'}"><a ng-click="tab='events'">Events ({{p.events.length}})</a></li>

  </ul>

<form name="myForm" class="form-horizontal" ng-show="tab == 'info'">
    <div class="control-group" ng-class="{error: myForm.name.$invalid}">
        <label class="control-label">Name</label>
        <div class="controls">
        <input type="text" name="name" ng-model="p.name" required>
        <span ng-show="myForm.name.$error.required" class="help-inline">
            Required</span>
        </div>
    </div>

    <div class="control-group" ng-class="{error: myForm.surname.$invalid}">
        <label class="control-label">Surname</label>
        <div class="controls">
            <input type="text" name="name" ng-model="p.surname" required>
        <span ng-show="myForm.surname.$error.required" class="help-inline">
            Required</span>
        </div>
    </div>

    <div class="control-group" ng-class="{error: myForm.gplus.$invalid}">
        <label class="control-label">Google+</label>
        <div class="controls">
            <input type="text" name="name" ng-model="p.gplus" >
            <a ng-show='p.gplus' href="{{p.gplus}}" target="_blank"><i class="icon-share"></i>Open</a>
         </div>
    </div>


    <div class="control-group" ng-class="{error: myForm.email.$invalid}">
        <label class="control-label">Email</label>
        <div class="controls">
        <input type="email" name="email" ng-model="p.email" required>
        <span ng-show="myForm.email.$error.required" class="help-inline">
            Required</span>
        <span ng-show="myForm.email.$error.email" class="help-inline">
            Not an email</span>
            </div>
    </div>


    <br>
    <a ng-click='back()' class="btn">Cancel</a>
    <button ng-click="save()" ng-disabled="isClean() || myForm.$invalid"
            class="btn btn-primary">Save</button>
    <button bs-modal="'deleteUser'"
            ng-show="p.id" class="btn btn-danger">Delete</button>

    <script type="text/ng-template" id="deleteUser">
        <div class="modal-header">
            <h4>Deleting participant "{{p.name}}"</h4>
        </div>
        <div class="modal-body">
            If you delete this participant, all registration would be also deleted.
        </div>
        <div class="modal-footer">
            <button class="btn cancel" ng-click="dismiss()">Cancel</button>
            <button class="btn btn-danger" ng-click="destroy();dismiss()">Delete</button>
        </div>
    </script>
</form>

  <div class='' ng-show="tab=='events'">
      <input type="text" ng-model="search" class="search-query" placeholder="Search">
      <table class='table'>
          <thead>
          <tr>
              <th>Name</th>
              <th>Description</th>
              <th></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="e in p.events | filter:search | orderBy:'name'" class="clickable" ng-click='show(e.id)'>
              <td>{{e.title}}</td>
              <td>{{e.desc}}</td>
              <td>
                  <i class="icon-trash"></i>
              </td>
          </tr>
          </tbody>
      </table>
  </div>