<input type="text" ng-model="search" class="search-query" placeholder="Search">
<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>e-mail</th>
        <th><!--<a href="#/new"><i class="icon-plus-sign"></i></a>--></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="p in participants | filter:search | orderBy:'name'" ng-click='edit(p.id)' class='clickable'>
        <td>{{p.name}}</td>
        <td>{{p.email}}</td>
        <td>
            <a href="#/participants/{{p.id}}"><i class="icon-pencil"></i></a>
        </td>
    </tr>
    </tbody>
</table>
