
    <h2 ng-show="editing">Editing event #{{e.id}}
        <button class='btn' ng-disabled='loading'><i ng-class="{'icon-spin':loading}" class='icon-refresh' style='color:blue' ng-click='refresh()'></i></button>
    </h2>
    <h2 ng-hide="editing">Creating event</h2>
    <div ng-show='editing' class="alert alert-success" >
        Registration form: <a href='/events/{{e.id}}/register' target='_blank'>Link</a>
    </div>

    <ul class="nav nav-tabs" ng-show="editing">
        <li ng-class="{active: tab == 'info'}"><a ng-click="tab='info'">Information</a></li>
        <li ng-class="{active: tab == 'part'}"><a ng-click="tab='part'">Participants ({{ e.participants.length}})</a></li>
        <li ng-class="{active: tab == 'fields'}"><a ng-click="tab='fields'">Form fields</a></li>

    </ul>

<form name="myForm" class="form-horizontal" >
 <div ng-show="tab == 'info' || !editing">
    <div class="control-group" ng-class="{error: myForm.title.$invalid}">
        <label class="control-label">Title</label>
        <div class="controls"><input type="text" name="title" ng-model="e.title" required class='input-xxlarge'>
        <span ng-show="myForm.title.$error.required" class="help-inline">
            Required</span>
        </div>
    </div>
    <div class="control-group" ng-class="{error: myForm.desc.$invalid}">
        <label class="control-label">Description</label>
        <div class="controls">
            <textarea rows='10' class='input-xxlarge' name="desc" ng-model="e.desc" required></textarea>
        <span ng-show="myForm.desc.$error.required" class="help-inline">
            Required</span>
        </div>
    </div>

    <div class="control-group" ng-class="{error: myForm.url.$invalid}">
        <label class="control-label">Url</label>
        <div class="controls">
            <input type="url" name="desc" ng-model="e.url" required class='input-xxlarge'>
            <a ng-show='e.url' href="{{e.url}}" target="_blank"><i class="icon-share"></i>Open</a>
        <span ng-show="myForm.url.$error.required" class="help-inline">
            Required</span>
        </div>
    </div>

    <div class="control-group" ng-class="{error: myForm.date.$invalid}">
        <label class="control-label">Date</label>
        <div class="controls">
            <input type="text" name="date" ng-model="e.date" required bs-datepicker data-date-format="yyyy-mm-dd" >
            <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
        <span ng-show="myForm.date.$error.required" class="help-inline">
            Required</span>
        </div>
    </div>

    <div class="control-group " ng-class="{error: myForm.closereg.$invalid}">
        <label class="control-label">Registration close</label>
        <div class="controls">
            <input type="text" name="closereg" ng-model="e.closereg" bs-datepicker data-date-format="yyyy-mm-dd">
            <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
        </div>
    </div>
</div>

    <script type="text/ng-template" id="confirmSend.html">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4>Re-sending email to {{p.name}} {{p.surname}}</h4>
        </div>
        <div class="modal-body">
            Are you sure you want to send invitation email to <b>{{p.email}}</b>?

            <div ng-show='!accepted[p.id]' class='alert alert-error'>The application is not accepted yet!</div>

        </div>
        <div class="modal-footer">
            <button class="btn cancel" ng-click="dismiss()" ng-disabled='sending'>Cancel</button>
            <button class="btn btn-primary" ng-click="resend(p.id)" ng-disabled='sending'>
                <i class="icon-spinner icon-spin" ng-show='sending'></i> Resend<span ng-show='sending'>ing...</span></button>
        </div>

    </script>

<div class='' ng-show="editing && tab=='part'">
    <input type="text" ng-model="search" class="search-query" placeholder="Search">
    <div class="btn-group" bs-buttons-radio ng-model="eFilter">
        <button type="button" class="btn" value="all">All</button>
        <button type="button" class="btn" value="approved" ng-disabled="keys(accepted)==0">Approved ({{keys(accepted)}})</button>
        <button type="button" class="btn" value="waiting" ng-disabled="e.participants.length - keys(accepted) == 0">Waiting for approval ({{e.participants.length - keys(accepted)}})</button>
    </div>
    <table class='table'>
        <thead>
        <tr>
            <th>
                <input ng-disabled="keys(accepted)==e.participants.length ||approving" type="checkbox" ng-show="eFilter!='approved'" ng-model='allSelected' ng-click='selectAll()'> Approved</th>
            <th>Name</th>
            <th>Surname</th>
            <th>e-mail</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in e.participants | filter:filterEvent | filter:search | orderBy:'title'" class="clickable">
            <td>
                <input type="checkbox" ng-model='toAccept[p.id]' ng-hide='accepted[p.id]' ng-disabled="approving">
                <i class="icon-ok" ng-show='accepted[p.id]'></i>
            </td>
            <td>{{p.name}}</td>
            <td>{{p.surname}}</td>
            <td>{{p.email}}</td>
            <td>
                <button class='btn btn-danger' disabled><i class="icon-trash"></i></button>
                <button class='btn' ng-click='show(p.id)'><i class='icon-user'></i></button>
                <button class='btn'  ng-click='showCard(p.id)'><i class="icon-credit-card"></i></button>
                <button class='btn' ng-controller='notificationResendCtrl' bs-modal="'confirmSend.html'"><i class="icon-envelope"></i></button>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="alert alert-error" ng-show="sendingFailed">
        <button type="button" class="close" data-dismiss="alert" ng-click="sendingFailed = false">&times;</button>
        Something happen while approving, so some application could be not approved or notifications not sent.
    </div>
    <div ng-show='toAcceptArray.length >0' class="control-group">
      <label class="control-label">
            <input type="checkbox" ng-model='sendEmail' ng-init="sendEmail= true"  ng-disabled="approving">Send email
      </label>
      <div class="controls">
        <button class='btn btn-info' ng-click='approve()' ng-disabled="approving">
            Approve {{toAcceptArray.length}} application<span ng-show='toAcceptArray.length>1'>s</span>
            <i class="icon-spinner icon-spin" ng-show="approving"></i>
        </button>
      </div>

    </div>
</div>

<div class='' ng-show="editing && tab=='fields'">
    <table class='table'>
        <thead>
        <tr>
            <th>Short name</th>
            <th>Title</th>
            <th>Type</th>
            <th>Require</th>
            <th><button class='btn btn-success' ng-click='addField()'>Add</button></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="field in e.fields" class="clickable">
            <td><input ng-model='field.name' required class='input-large'/></td>
            <td><input ng-model='field.title' required class='input-xlarge'/></td>
            <td>Text</td>
            <td><input type="checkbox" ng-bind='field.req'/> </td>
            <td>
                <i class="icon-trash" ng-click='deleteField(field)'></i>
            </td>
        </tr>
        </tbody>
    </table>
</div>

    <script type="text/ng-template" id="eventDelete.html">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4>Deleting event "{{e.title}}"</h4>
        </div>
        <div class="modal-body">
            If you delete this event, all registration would be also deleted.
        </div>
        <div class="modal-footer">
            <button class="btn cancel" ng-click="dismiss()">Cancel</button>
            <button class="btn btn-danger" ng-click="destroy();dismiss()">Delete</button>
        </div>

    </script>
    <div class="control-group">
        <div class="controls">
            <a href="#/" class="btn">Cancel</a>
            <button ng-click="save()" ng-disabled="isClean() || myForm.$invalid"
                    class="btn btn-primary">Save</button>
            <button bs-modal="'eventDelete.html'"
                    ng-show="e.id" class="btn btn-danger">Delete</button>
        </div>
    </div>

</form>
